/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}


html {
    overflow-y: scroll;
}

.wrap-all {
    max-width: 80%;
    margin: 0 auto;
}

.site-logo {
    display: none;
}


/* Set row */

.row::after {
    content: "";
    display: block;
    clear: both;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Style navbar and header */

.region-header {
    background-color: #626d71;
    width: 100%;
    padding-bottom: 2px;
}

.region-header li {
    list-style-type: none;
    display: inline;
}


.region-header a {
    outline: none;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    padding: 4px;
}

.region-header a:active {
    color: #aaa;
}

.region-header a:hover {
    color: #aaa;
}

.region-flash img {
    width: 100%;
}

.rm-navbar a {
    float: left;
}



.site-logo-text a {
    margin: 0 auto;
    color: red;
}

/**
 * Footer
 */

.outer-wrap-footer {
    max-width: 100%;
    min-height: 10em;
    background-color: #424242;
    color: #fff;
}

.footer-column {
    float: left;
    width: 33%;
}
